
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>pH Estimation</h2>
    <p>Choose whether you want single or batch prediction</p>

    <div class="buttons">
        <button class="button">
            <a href="/ph_single_prediction">Single Prediction</a>
        </button>
        <button class="button">
            <a href="/ph_batch_prediction">Batch Prediction</a>

        </button>
    </div>

    <div class="content">
        {% block content %}
        <!-- This block will be filled by other templates -->
        {% endblock %}
    </div>
    
</body>
</html>
